<div class="row">
    <div class="col-md-6">
    <% if todo.completed == true puts todo.description%>
    </div>
    <div class="col-md-6">
    <% if todo.completed == false puts todo.description%>
    <% end %>
    </div>
</div>

