<div class="row">
    <div class="card card-body bg-light", style="top:60px">
        <div class="col-md-3 my-2">
            <h3><%= @todo.description %></h3>
            <p><%= @todo.completed %></p>
        </div>
    </div>
</div>