<div class="row">
    <div class="card card-body bg-light">
        <div class="col-md-3 my-2">
            <%= @todo.description %>
            <%= @todo.completed %>
        </div>
    </div>
</div>