<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<a class="navbar-brand"><%= link_to 'Index', todos_path %> </a>

<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav mr-auto">
    
    <li class="nav-item">
    <a class="navbar-brand"><%= link_to 'Lista', list_path %> </a>
    </li>
    <li class="nav-item">
    <a class="navbar-brand"><%= link_to 'Formulario', todos_new_path %> </a>
    </li>
  </ul>
  
</div>
</nav>
